body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 100%;
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: #0070BB;
}

/* visited link */
a:visited {
  color: #0070BA;
}

/* mouse over link */
a:hover {
  color: #0070BC;
}

/* selected link */
a:active {
  color: #0070BD;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
